
body{
    text-align: center;
}

.synthesizer-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}



.piano {

    display: inline-block;
}

.piano{
    text-align: center;
    margin: 8% 0 auto;

}

.ReactPiano__Keyboard{
    text-align: center;
}